body {
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addQuestion {
  padding: 4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 47, 207);
  font-size: 1.1rem;
  color: white;
  border-radius: 0.2rem;
  box-shadow: 1px 3px 8px 3px rgb(71, 71, 228);
}

.addQuestion>input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: .2rem;
}

.addQuestion button {
  padding: 0.5rem;
  background-color: rgb(78, 193, 235);
  border: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
}

.addQuestion button:hover {
  background-color: rgb(60, 163, 200);
}